/* UserOptions.module.css */
.optionsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #141414;
}

.optionButton {
  background-color: #e50914;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  margin: 10px;
  text-decoration: none;
  font-size: 1.5rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.optionButton:hover {
  background-color: #f40612;
}
